.DS_Store
.AppleDouble
.LSOverride
azure.err
iisnode.yml

## Ignore build files
public/dist/*
node_modules/*
mongo/*

# Icon must ends with two \r.
Icon




# Floobits
.floo
.floobit
.floo
.flooignore
